# Python cache files
__pycache__/
*.pyc

# Log files
logs/
*.log

# Environment files
.env
.env.local
.env.*.local
credentials.json

server-deploy-private/

weread-api-key.txt

pushplus-token.txt

read-request.txt
